sesion-2/Rag + Telegram.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "128a4507-affc-4aff-8ade-93153a7ea093",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/mateozacar/n8n-clases/refs/heads/main/sesion-1/caso_nexopay.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "2b1ffe13-9b33-436b-9102-0521370363a0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documentos_rag",
          "mode": "list",
          "cachedResultName": "documentos_rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "52459074-0135-40e8-9a3f-13b1deb89920",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QWIrRYzJrf6ZG1sd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        240
      ],
      "id": "3375647a-339e-4626-ae3d-0cd36b1ef08e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Mt1mndTFkiInCHE5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        176
      ],
      "id": "f8020971-548d-4886-92c2-3f11215ff3f2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        384
      ],
      "id": "39004d5f-16cc-4b27-829e-71867d5012f6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        528
      ],
      "id": "8ed97bd0-be3d-47d7-9fff-475b048837e4",
      "name": "Telegram Trigger",
      "webhookId": "8c331c54-2e90-45b8-90ba-1f756983ba04",
      "credentials": {
        "telegramApi": {
          "id": "DgVy5lZte8ZAzvWW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "59df7d53-e821-4214-b55b-97a7f5777412",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        528
      ],
      "id": "1133ff4d-1a57-4833-a6aa-763334df0986",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        544,
        544
      ],
      "id": "5f6b6ba3-9010-48f4-974a-5cdabd89ca87",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        784
      ],
      "id": "f45af36f-99ea-423f-bf0d-393a85561b9b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mt1mndTFkiInCHE5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        624,
        784
      ],
      "id": "a5780e54-7b58-488b-aa83-eab6b0ae10cf",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documentos_rag",
          "mode": "list",
          "cachedResultName": "documentos_rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        640,
        976
      ],
      "id": "2c897492-c4b1-441e-8ce7-0d6c3f665355",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "QWIrRYzJrf6ZG1sd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        1136
      ],
      "id": "f27d1eb1-a68e-478e-b47e-6215b2e4bee5",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Mt1mndTFkiInCHE5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        544
      ],
      "id": "c6160f68-6de5-4877-8166-5e107928b35d",
      "name": "Send a text message",
      "webhookId": "1c869cfe-5c10-48fa-a561-8dba0920a27f",
      "credentials": {
        "telegramApi": {
          "id": "DgVy5lZte8ZAzvWW",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "73896d73-af5a-44e6-81f4-490179974901",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdfafbaaa7508f3f85eff49f649e57814142944c298a0e0e96dc651d0a97761c"
  },
  "id": "Eh7oaRHRbdJRp7Jf",
  "tags": []
}